input[type="checkbox"] {
    vertical-align: sub;
}

.input-pane {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1em 1fr 2em 2em 2em 2em;
    grid-column-gap: .5em;
    grid-row-gap: .5em;

    grid-template-areas:
        "names-label names-label"
        "names names"
        "group-method number-entry"
        "options options"
        "submit submit"
        "status status";
}

#name-entry-label {
    grid-area: names-label;
}

#name-entry {
    grid-area: names;
}

#grouping-method-select {
    grid-area: group-method;
}

#number-entry {
    grid-area: number-entry;
    width: 100%;
}

.options {
    grid-area: options;
}

#generate-button {
    grid-area: submit;
}

#status-label {
    grid-area: status;
    flex-grow: 1;
}